nav#slideRight.main-menu.slide-from-right(role="navigation")
  .menu-title
    h2 Slide From Right
    .close-menu Close
  ul.menu
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
