nav#slideBottom.main-menu.slide-from-bottom(role="navigation")
  .menu-title
    h2 Slide From Bottom
    .close-menu(onclick="closeMenu()") Close
  ul.menu
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
