nav#slideLeft.main-menu.slide-from-left(role="navigation")
  .menu-title
    h2 Slide From Left
    .close-menu Close
  ul.menu
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
