nav#slideTop.main-menu.slide-from-top(role="navigation")
  .menu-title
    h2 Slide From Top
    .close-menu(onclick="closeMenu()") Close
  ul.menu
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
    li
      a(href="#") Link
